@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply transition-all duration-150 ease-linear bg-[#f5f6f8] text-[#0f1115] dark:bg-[#050506] dark:text-[#f5f6f7];
    }

    ol,
    ul {
        list-style-type: list-revert;
        margin-left: 1.5rem;
    }

    ::marker {
        font-weight: bold;
    }

    strong {
        color: inherit;
    }
}

@layer components {
    .card {
        @apply transition-all duration-300 rounded-lg;
    }

    .card-base {
        @apply bg-[#f7f8fb] text-[#0f1115] border border-[#e1e7ef] shadow-[0_18px_70px_-50px_rgba(8,10,14,0.55)] dark:bg-[#060708] dark:text-[#f5f6f7] dark:border-[#101215] backdrop-blur;
    }

    .card-glass {
        @apply bg-white/10 text-[#f5f6f7] border border-white/10 shadow-[0_25px_70px_-50px_rgba(0,0,0,0.65)] backdrop-blur-2xl dark:bg-black/20 dark:border-white/10;
    }

    .card-sm {
        @apply p-4;
    }

    .card-md {
        @apply p-6;
    }

    .card-lg {
        @apply p-8;
    }

    .card-xl {
        @apply p-10;
    }
}

html,
body,
#__next {
    height: 100%;
    width: 100%;
}

hr {
    border-color: #d9dde6;
}
